
*{
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    background-size: cover;
  }
  .form-container {
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
        background-color: white;
        padding: 50px 70px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
    
}

label{
   margin-bottom: 0;
   text-align: left;

}

.input {
    
    width: 100%;
    margin-top: 20px;
    height: 30%;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 8px;
    font-family: 'Inter', sans-serif;
  }

  
.marketing {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
  }
  
  .marketing > input {
    margin-right: 10px;
  }
  
  .submit {
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-color: #718ec7;
    border: none;   
    cursor: pointer; 
  }
  
  .messages {
    display: flex;
    justify-content: center;
  }
  
  .success {
    display: block;
    color: white;
    width: fit-content;
    height: 100px;
    padding: 5px;
  }
  
  .error {
    font-size: 12px;
    color: red;
    margin-top: 10px;
    margin-left: -20px;
    align-self: flex-start;
  }

.submit:hover{
    background-color:black;
}
.radio-group{
    margin-bottom: 8px;
}
